<div>
  <div class="container-fluid">
  <div class="row border-bottom" style="height: 450px;">
    <div class="col d-flex text-center heading">
      <div class="my-auto mx-auto">
        <h1 class="bold">A modern way of Kitchen.</p>
        <h5>Viktor K. present a new way of cooking!</h5>
        <button type="button" class="btn btn-primary recipeButton border-0 mt-3">See Recipes!</button>
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col text-center popularRecipes">
      <h4 class="">Most Popular Recipes!</h4>
    </div>
  </div>
  <div class="row mt-2 justify-content-center recepies">
    <div class="col-xs-12 col-md-6 col-lg-3 col-xl-2 d-flex flex-column">
        <div class="recepiImage position-relative mx-auto">
          <img class="border rounded image" src="https://upload.wikimedia.org/wikipedia/commons/a/a3/Eq_it-na_pizza-margherita_sep2005_sml.jpg" alt="" style="width:200px; height:200px;" />
          <button type="button" class="btn btn-primary recipeButton position-absolute top-50 start-50 translate-middle">Primary</button>
        </div>
        <p class="mx-auto mt-1">Lasagna is made from Beef!</p>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-3 col-xl-2 d-flex flex-column">
        <div class="recepiImage position-relative mx-auto">
          <img class="border rounded image" src="https://upload.wikimedia.org/wikipedia/commons/a/a3/Eq_it-na_pizza-margherita_sep2005_sml.jpg" alt="" style="width:200px; height:200px;" />
          <button type="button" class="btn btn-primary recipeButton position-absolute top-50 start-50 translate-middle">Primary</button>
        </div>
        <p class="mx-auto mt-1">Lasagna is made from Beef!</p>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-3 col-xl-2 d-flex flex-column">
        <div class="recepiImage position-relative mx-auto">
          <img class="border rounded image" src="https://upload.wikimedia.org/wikipedia/commons/a/a3/Eq_it-na_pizza-margherita_sep2005_sml.jpg" alt="" style="width:200px; height:200px;" />
          <button type="button" class="btn btn-primary recipeButton position-absolute top-50 start-50 translate-middle">Primary</button>
        </div>
        <p class="mx-auto mt-1">Lasagna is made from Beef!</p>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-3 col-xl-2 d-flex flex-column">
        <div class="recepiImage position-relative mx-auto">
          <img class="border rounded image" src="https://upload.wikimedia.org/wikipedia/commons/a/a3/Eq_it-na_pizza-margherita_sep2005_sml.jpg" alt="" style="width:200px; height:200px;" />
          <button type="button" class="btn btn-primary recipeButton position-absolute top-50 start-50 translate-middle">Primary</button>
        </div>
        <p class="mx-auto mt-1">Lasagna is made from Beef!</p>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-3 col-xl-2 d-flex flex-column">
        <div class="recepiImage position-relative mx-auto">
          <img class="border rounded image" src="https://upload.wikimedia.org/wikipedia/commons/a/a3/Eq_it-na_pizza-margherita_sep2005_sml.jpg" alt="" style="width:200px; height:200px;" />
          <button type="button" class="btn btn-primary recipeButton position-absolute top-50 start-50 translate-middle">Primary</button>
        </div>
        <p class="mx-auto mt-1">Lasagna is made from Beef!</p>
    </div>
    
  </div>
</div>
</div>