body {
  color: #14203E;
  font-family: 'IBM Plex Sans', sans-serif; }

.navbar-collapse .navbar-nav .nav-item .nav-link {
  color: #14203E;
  font-size: 22px; }

.navbar-collapse .loginButton {
  background-color: #f6f0e8;
  color: black;
  width: 110px;
  height: 50px; }

.navbar-collapse .registerButton {
  width: 180px;
  height: 50px;
  background-color: #14203E; }

.container-fluid .heading .bold {
  font-weight: bold;
  font-size: 64px; }

.container-fluid .heading .recipeButton {
  width: 180px;
  height: 60px;
  background-color: #14203E;
  font-size: 22px; }

.recepies .recepiImage .recipeButton {
  background-color: #14203E;
  opacity: 0; }

.recepies .recepiImage:hover .image {
  -webkit-filter: blur(2px);
  filter: blur(2px); }

.recepies .recepiImage:hover .recipeButton {
  opacity: 1; }

.popularRecipes {
  font-weight: bold; }
